<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passenger</title>
    <style>
        table {
        width: 100%;
        border-collapse: collapse;
        }
        table, th, td {
        border: 1px solid black;
        }
        th, td {
        padding: 15px;
        text-align: left;
        }
        th {
        background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Passengers List</h1>

<form method="get"th:action="@{/}">
    <label for="searchName">Search by Name:</label>
    <input type="text" id="searchName" name="searchName" th:value="${searchName}" placeholder="Enter name"/>
    <button type="submit">Search</button>
    <label for="size">Rows per page:</label>
    <select name="size" id="size" onchange="this.form.submit()">
        <option th:value="25" th:text="'25'" th:selected="${pageSize == 25}"></option>
        <option th:value="50" th:text="'50'" th:selected="${pageSize == 50}"></option>
        <option th:value="100" th:text="'100'" th:selected="${pageSize == 100}"></option>
    </select>
    <input type="hidden" name="page" th:value="${currentPage}"/>
    <input type="hidden" name="=sortField" th:value="${sortField}"/>
    <input type="hidden" name="sortDir" th:value="${sortDir}">
</form>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Survived</th>
        <th>Pclass</th>
        <th>
            Name
            <span class="sort-arrows">
                <a th:href="@{|/?page=${currentPage}&size=${pageSize}&sortField=name&sortDir=asc&searchName=${searchName}|}" class="sort-arrow">&#9650;</a>
                <a th:href="@{|/?page=${currentPage}&size=${pageSize}&sortField=name&sortDir=desc&searchName=${searchName}|}" class="sort-arrow">&#9660;</a>
            </span>
        </th>
        <th>Sex</th>
        <th>
            Age
            <span class="sort-arrows">
                <a th:href="@{|/?page=${currentPage}&size=${pageSize}&sortField=age&sortDir=asc&searchName=${searchName}|}"class="sort-arrows">&#9650;</a>
                <a th:href="@{|/?page=${currentPage}&size=${pageSize}&sortField=age&sortDir=desc&searchName=${searchName}|}"class="sort-arrows">&#9660;</a>
            </span>
        </th>
        <th>Siblings/Spouses Aboard</th>
        <th>Parent/Children Aboard</th>
        <th>
            Fare
            <span class="sort-arrows">
                <a th:href="@{|/?page=${currentPage}&size=${pageSize}&sortField=fare&sortDir=asc&searchName=${searchName}|}"class="sort-arrows">&#9650;</a>
                <a th:href="@{|/?page=${currentPage}&size=${pageSize}&sortField=fare&sortDir=desc&searchName=${searchName}|}"class="sort-arrows">&#9660;</a>
            </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="passenger : ${passengers}">
        <td th:text="${passenger.id}"></td>
        <td th:text="${passenger.survived}"></td>
        <td th:text="${passenger.pclass}"></td>
        <td th:text="${passenger.name}"></td>
        <td th:text="${passenger.sex}"></td>
        <td th:text="${passenger.age}"></td>
        <td th:text="${passenger.siblingsSpouses}"></td>
        <td th:text="${passenger.parentChildren}"></td>
        <td th:text="${passenger.fare}"></td>
    </tr>
    </tbody>
</table>
<<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{|/?page=${currentPage - 1}&size=${pageSize}&sortField=${sortField}&sortDir=${sortDir}|}">Previous</a>
    </span>
    <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{|/?page=${i}&size=${pageSize}&sortField=${sortField}&sortDir=${sortDir}|}" th:text="${i + 1}"></a>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{|/?page=${currentPage + 1}&size=${pageSize}&sortField=${sortField}&sortDir=${sortDir}|}">Next</a>
    </span>
</div>

</body>
</html>